src/main/resources/schema/Partition.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AbsPartition">
		<xs:complexType>
			<!-- {"name" : "nesbitt" , "instance" : "east" , "port" : 7542 } -->
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="port" type="xs:int" />
				<xs:element name="instance" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="parserClass" type="xs:string" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>